<?xml version="1.0"?>
<PhccDeviceManagerConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Motherboard>
      <ComPort>COM12</ComPort>
      <Name>PHCC Main Test</Name>
      <InputConfig />
      <Peripherals>
        <Peripheral xsi:type="DoaStepper">
          <Address>64</Address>
          <FriendlyName>Stepper Test Board</FriendlyName>
          <OutputConfigs>
            <OutputConfig>
              <CalibrationData>
                <CalibrationPoint>
                  <Input>0</Input>
                  <Output>100</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>80</Input>
                  <Output>255</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>190</Input>
                  <Output>343</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>300</Input>
                  <Output>600</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>1000</Input>
                  <Output>2500</Output>
                </CalibrationPoint>
              </CalibrationData>
              <SignalId>DOA_STEPPER[COM5][0x0040][0]</SignalId>
            </OutputConfig>
          </OutputConfigs>
          <HomingSignals />
        </Peripheral>
        <Peripheral xsi:type="Doa40Do">
          <Address>48</Address>
          <FriendlyName>Outputs L/H Lights</FriendlyName>
          <OutputConfig />
        </Peripheral>
        <Peripheral xsi:type="Doa7Seg">
          <Address>34</Address>
          <FriendlyName>R/H Led Driver</FriendlyName>
          <Configuration>
            <DisplayModeConfiguration>
              <SegmentDisplayConfig>
                <NumDisplays>6</NumDisplays>
                <DisplayType>SevenSegment</DisplayType>
                <FirstModule>0</FirstModule>
              </SegmentDisplayConfig>
              <SegmentDisplayConfig xsi:nil="true" />
            </DisplayModeConfiguration>
            <OutputConfig />
          </Configuration>
        </Peripheral>
      </Peripherals>
    </Motherboard>
  </Devices>
</PhccDeviceManagerConfiguration>