<?xml version="1.0"?>
<PhccDeviceManagerConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Motherboard>
      <ComPort>COM4</ComPort>
      <Peripherals>
        <Peripheral xsi:type="DoaAirCore">
          <Address>1</Address>
          <OutputConfigs />
        </Peripheral>
        <Peripheral xsi:type="DoaStepper">
          <Address>2</Address>
          <OutputConfigs>
            <OutputConfig>
              <CalibrationData>
                <CalibrationPoint>
                  <Input>3</Input>
                  <Output>50</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>50</Input>
                  <Output>100</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>200</Input>
                  <Output>500</Output>
                </CalibrationPoint>
                <CalibrationPoint>
                  <Input>500</Input>
                  <Output>1024</Output>
                </CalibrationPoint>
              </CalibrationData>
              <SignalId>DOA_STEPPER[COM4][0x0002][1]</SignalId>
            </OutputConfig>
          </OutputConfigs>
        </Peripheral>
      </Peripherals>
    </Motherboard>
  </Devices>
</PhccDeviceManagerConfiguration>