<?xml version="1.0"?>
<PhccDeviceManagerConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Motherboard>
      <ComPort>COM3</ComPort>
      <Name>Main PHCC</Name>
      <Peripherals>
        <Peripheral xsi:type="DoaStepper">
          <Address>2</Address>
          <FriendlyName>TestStep</FriendlyName>
          <OutputConfigs />
          <HomingSignals />
        </Peripheral>
      </Peripherals>
    </Motherboard>
  </Devices>
</PhccDeviceManagerConfiguration>