<?xml version="1.0"?>
<PhccDeviceManagerConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Motherboard>
      <ComPort>COM4</ComPort>
      <Peripherals>
        <Peripheral xsi:type="DoaAirCore">
          <Address>1</Address>
          <OutputConfigs />
        </Peripheral>
      </Peripherals>
    </Motherboard>
  </Devices>
</PhccDeviceManagerConfiguration>